{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Modificacion de presupuesto
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-2 col-md-8">
		<div class="offset-md-3 col-md-6">
			<h1 class="display-4">Datos del cliente</h1>
		</div>
		<div class="offset-md-3 col-md-6">
			<form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
				{{ form.hidden_tag() }}
				{{ render_input(form.nombre_cliente,'', id= "nombre_cliente" , class="form-control", placeholder="Ingrese el nombre cliente" ) }}
				{{ render_input(form.correo_electronico,'', id= "correo_electronico" , class="form-control", placeholder="Ingrese correo electronico del cliente" ) }}
				{{ render_input(form.fecha_vencimiento,'', id= "fecha_vencimiento" ,value = vencimiento_estimado.strftime('%Y-%m-%d'), class="form-control", type="date"  ) }}
				<button type="submmit" class="btn btn-primary">Guardar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}