alembic
blinker
Click
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
python-dateutil
python-editor
six
SQLAlchemy
text-unidecode
Werkzeug
WTForms
mysql-connector-python
python-dotenv
openpyxl
dbf
redis
rq