{% extends "base_template.html" %}

{% block title %}
    aicrag | Consulta de presupuestos
{% endblock %}

{% block content %}
<h1>Consulta de presupuestos</h1>

<a  href="{{ url_for('consultas.alta_presupuesto') }}">Nuevo Presupuesto</a> 

{% if cabecera %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">NRO</th>
            <th scope="col">FECHA</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">IMPORTE</th>
            <th scope="col">VENCIMIENTO</th>
            <th scope="col">ACCIÓN</th>
            
        </tr>
    </thead>
    
    <tbody>
        
        {% for presupuesto in cabecera %}
            <tr>
                <th scope="row">{{ presupuesto.id }}</th>
                <td> {{ presupuesto.created.strftime('%d-%m-%Y') }}</td>
                <td> {{ presupuesto.nombre_cliente }} </td>
                <td> {{ presupuesto.importe_total }}</td>
                {% if now < presupuesto.fecha_vencimiento %}
                
                <td> {{ presupuesto.fecha_vencimiento.strftime('%d-%m-%Y') }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acción
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"  href="{{ url_for('consultas.presupuesto', id_presupuesto = presupuesto.id) }}">Consultar presupuesto</a>
                        <a class="dropdown-item"  href="{{ url_for('consultas.modificacion_datos_cliente', id_presupuesto = presupuesto.id) }}">Modificar datos del cliente</a>
                        <a class="dropdown-item"  href="{{ url_for('consultas.modificacion_productos_presupuesto', id_presupuesto = presupuesto.id) }}">Modificar productos del presupuesto</a>
                    </div>
                </td>
                {% else %}
                <td class="text-danger"> {{ presupuesto.fecha_vencimiento.strftime('%d-%m-%Y') }}</td>
                <td >
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acción
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"  href="{{ url_for('consultas.presupuesto', id_presupuesto = presupuesto.id) }}">Consultar presupuesto</a>
                    </div>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}