{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Consulta de precios
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="display-4">Consulta de precios</h1>
    </div>
    <div class="offset-md-3 col-md-6">
		<form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			{{ render_input(form.buscar,'', id= "buscar" , class="form-control", placeholder="Ingrese un código de barras o la descripción de un producto" ) }}
			<button type="submit" class="btn btn-primary" >Buscar</button>
		</form>
	</div>
</div>
{% if lista_de_productos.items %}
    <table class="table table-striped table-hover mb-4">
        <thead>
            <tr>
                <th>CODIGO DE BARRAS</th>
                <th>PRODUCTO</th>
                <th>IMPORTE</th>
                <th>CANTIDAD POR PRESENTACION</th>
                <th>PROVEEDOR</th>
                <th>ULTIMA ACTUALIZACION</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in lista_de_productos.items %}
                {% if producto.Productos.modified< fecha_tope %}
                    <tr >
                        <th class="text-danger">{{ producto.Productos.codigo_de_barras }}</th>
                        <td class="text-danger">{{ producto.Productos.descripcion }}</td>
                        <td class="text-danger"> ${{ producto.importe_calculado|round(2)  }}</td>
                        <td class="text-danger"> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td class="text-danger"> {{ producto.Proveedores.nombre }}</td>
                        <td class="text-danger"> {{ producto.Productos.modified.strftime('%d-%m-%Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{ producto.Productos.codigo_de_barras }}</th>
                        <td> {{ producto.Productos.descripcion }}</td>
                        <td> ${{ producto.importe_calculado|round(2)  }} </td>
                        <td> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td> {{ producto.Proveedores.nombre }}</td>
                        <td> {{ producto.Productos.modified.strftime('%d-%m-%Y') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {%- for page in lista_de_productos.iter_pages() %}
                {% if page %}
                    {% if page != lista_de_productos.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('consultas.consulta_productos', criterio= criterio, page=page) }}">{{ page }}</a>
                    {% else %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ page }}
                            </span>
                        </li>
                    {% endif %}
                {% endif %}
            {%- endfor %}
        </ul>
    </nav>
{% elif lista_de_productos %}
    <table class="table table-striped table-hover mb-4">
        <thead>
            <tr>
                <th>CODIGO DE BARRAS</th>
                <th>PRODUCTO</th>
                <th>IMPORTE</th>
                <th>CANTIDAD POR PRESENTACION</th>
                <th>PROVEEDOR</th>
                <th>ULTIMA ACTUALIZACION</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in lista_de_productos  %}
                {% if producto.Productos.modified< fecha_tope %}
                    <tr>
                        <th class="text-danger">{{ producto.Productos.codigo_de_barras }}</th>
                        <td class="text-danger"> {{ producto.Productos.descripcion }}</td>
                        <td class="text-danger"> ${{ producto.importe_calculado|round(2)  }}</td>
                        <td class="text-danger"> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td class="text-danger"> {{ producto.Proveedores.nombre }}</td>
                        <td class="text-danger"> {{ producto.Productos.modified.strftime('%d-%m-%Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{ producto.Productos.codigo_de_barras }}</th>
                        <td> {{ producto.Productos.descripcion }}</td>
                        <td> ${{ producto.importe_calculado|round(2)  }} </td>
                        <td> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td> {{ producto.Proveedores.nombre }}</td>
                        <td> {{ producto.Productos.modified.strftime('%d-%m-%Y') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}