{% extends "base_template.html" %}

{% block title %}
    aicrag | Agenda
{% endblock %}

{% block content %}
    <div >
            <table class="table table-striped table-hover mb-4">
                <thead>
                    <tr>
                        <th>TAREA</th>
                        <th>NOMBRE</th>
                        <th>SOLICITADA</th>
                        <th>INICIADA</th>
                        <th>SOLICITADA POR</th>
                        <th>PROGRESO</th>
                        <th>FINALIZADA</th>
                        <th>ERROR</th>
                    </tr>
                </thead>
    {% if tareas.items %} 
                <tbody>
                    <tr >
                    {% for tarea in tareas %}
                    <td> {{ tarea.id_rq }}</td>
                    <td> {{ tarea.name }}</td>
                    <td> {{ tarea.created.strftime('%d-%m-%Y %HH:%MM') }}</td>
                    {% if tarea.fecha_inicio %}
                        <td> {{ tarea.fecha_inicio.strftime('%d-%m-%Y %HH:%MM') }}</td>
                    {% else %}
                    <td> </td> 
                    {% endif %}
                    <td> {{ tarea.usuario_alta }}</td>
                    <td> {{ tarea.get_progress()|round(2) }}%</td>
                    <td>
                        {% if tarea.complete %}
                            <i class="bi bi-check-circle-fill text-success"></i>
                        {% else %}
                            <i class="bi bi-hourglass-split text-warning"></i>
                        {% endif %}
                    </td>
                    <td> 
                        {% if tarea.error %}
                            <i class="bi bi-x-circle-fill text-danger"></i>                       
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {%- for page in tareas.iter_pages() %}
                        {% if page %}
                            {% if page != tareas.page %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('abms.agenda', page=page) }}">{{ page }}</a>
                            {% else %}
                                <li class="page-item active">
                                    <span class="page-link">
                                        {{ page }}
                                    </span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {%- endfor %}
                </ul>
            </nav>
    </div>
    {% endif %}

{% endblock %}