{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Busqueda de productos
{% endblock %}

{% block content %}
<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="display-4">Busqueda de productos</h1>
    </div>
	<div class="offset-md-3 col-md-6">	
        <form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
			{{ render_input(form.buscar,'', id= "buscar" , class="form-control", placeholder="Ingrese un código de barras o la descripción de un producto" ) }}
			<button type="submit" class="btn btn-primary" >Buscar</button>
		</form>
	</div>
    {% if lista_de_productos.items %}
        <table class="table table-striped table-hover mb-4">
            <thead>
                <tr>
                    <th>CODIGO DE BARRAS</th>
                    <th>PRODUCTO</th>
                    <th>IMPORTE</th>
                    <th>CANTIDAD POR PRESENTACION</th>
                    <th>PROVEEDOR</th>
                    <th>Accion</th>
                </tr>
            </thead> 
            <tbody>
                {% for producto in lista_de_productos.items %}
                    <tr>
                        <th>{{ producto.Productos.codigo_de_barras }}</th>
                        <td> {{ producto.Productos.descripcion }}</td>
                        <td> {{ producto.Productos.importe|round(2) }}</td>
                        <td> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td> {{ producto.Proveedores.nombre }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                    Acción
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ url_for('abms.modificacion_producto', id_producto = producto.Productos.id) }}">Modificar</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('abms.eliminar_producto_id', id_producto = producto.Productos.id) }}">Eliminar</a></li>
                                </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {%- for page in lista_de_productos.iter_pages() %}
                    {% if page %}

                        {% if page != lista_de_productos.page %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('abms.busqueda_productos', criterio= criterio, page=page) }}">{{ page }}</a>
                        {% else %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ page }}
                                </span>
                            </li>
                        {% endif %}
                    {% endif %}
                {%- endfor %}
            </ul>
    </nav>
    {% elif lista_de_productos %}
        <table class="table table-striped table-hover mb-4">
            <thead>
                <tr>
                    <th>CODIGO DE BARRAS</th>
                    <th>PRODUCTO</th>
                    <th>IMPORTE</th>
                    <th>CANTIDAD POR PRESENTACION</th>
                    <th>PROVEEDOR</th>
                    <th>Accion</th>
                </tr>
            </thead> 
            <tbody>
                {% for producto in lista_de_productos %}
                    <tr>
                        <th>{{ producto.Productos.codigo_de_barras }}</th>
                        <td> {{ producto.Productos.descripcion }}</td>
                        <td> {{ producto.Productos.importe|round(2) }}</td>
                        <td> {{ producto.Productos.cantidad_presentacion }}</td>
                        <td> {{ producto.Proveedores.nombre }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                    Acción
                                </button>
                                <ul class="dropdown-menu">
                                    <li> <a class="dropdown-item" href="{{ url_for('abms.modificacion_producto', id_producto = producto.Productos.id) }}">Modificar</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('abms.eliminar_producto_id', id_producto = producto.Productos.id) }}">Eliminar</a></li>
                                </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}