{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Busqueda de proveedores
{% endblock %}

{% block content %}

{% if lista_de_proveedores %}
    <div class="row">
        <table class="table table-striped table-hover mb-4">
            <thead>
                <tr>
                    <th>ID PROVEEDOR</th>
                    <th>NOMBRE</th>
                    <th>FORMATO</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in lista_de_proveedores %}
                    <tr>
                        <th> {{ proveedor.id }}</th>
                        <td> {{ proveedor.nombre }}</td>
                        <td> {{ proveedor.formato_id }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                    Acción
                                </button>
                                <ul class="dropdown-menu">
                                    <li> <a class="dropdown-item" href="{{ url_for('abms.modificacion_proveedor', id_proveedor = proveedor.id) }}">Modificar</a></li>
                                </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}