{% extends "base_template.html" %}

{% block title %}
    aicrag | Bandeja de mensajes del sistema
{% endblock %}



{% block content %}
<div >
    <table class="table table-striped table-hover mb-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>ASUNTO</th>
                <th>LEIDO</th>
                <th>ALERTA</th>
                <th>MARCAR LEIDO</th>
            </tr>
        </thead>
        <tbody>
            {% for mensaje in mensajes %}
                <tr>
                <td> {{ mensaje.id }}</td>
                <td> {{ mensaje.asunto }}</td>
                <td> {{ mensaje.leido }}</td>
                <td> {{ mensaje.alerta }}</td>
                <td>
                {% if not mensaje.leido %}
                    <a href="{{ url_for('abms.leido', id=mensaje.id) }}">
                        <button class="btn btn-sm btn-primary">Confirmar</button>
                    </a>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            
</div>
{% endblock %}