{% extends "base_template.html" %}
{% from "_render_elements.html" import render_input %}

{% block title %}
    aicrag | Actualizacion de contraseña
{% endblock %}


{% block content %}
<div class="row">
    <div class="offset-md-3 col-md-6">
		<h1 class="display-6">Cambio de contraseña</h1>
	</div>
    <div class="offset-md-3 col-md-6">
        <form action="" method="post" class="mx-auto mt-4" enctype="multipart/form-data" novalidate>	
            {{ form.hidden_tag() }}
                            
            {{ render_input(form.password_actual,'', id= "password_actual" , class="form-control", placeholder="Password actual" ) }}
            {{ render_input(form.password_nuevo,'', id= "password_nuevo" , class="form-control", placeholder="Nuevo password" ) }}
            {{ render_input(form.password_nuevo_re,'', id= "password_nuevo_re" , class="form-control", placeholder="Confirma nuevo password" ) }}
            <button type="submit" class="btn btn-primary" >Ingresar</button>
    </div>
{% endblock %}